.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
  background-color: transparent !important;
  color: inherit !important;
  outline: none !important;
  box-shadow: none !important;
}
