@media screen and (min-width: 601px) {
    .title {
      font-size: 20px;
    }
  }

@media screen and (max-width: 601px) {
    .title {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 328px) {
    .title {
      font-size: 12px;
    }
  }

.title{
  text-align: center;
  margin-top: 5px;
}

.buttons {
  margin-left: 10px;
}