#pm25 {
    background-color:  rgba(145, 61, 136, 1);
}

#pm10 {
    background-color: rgba(30, 130, 76, 1);
}

#temp {
    background-color: rgba(192, 57, 43, 1);
}

#hum {
    background-color: rgba(75, 119, 190, 1);
}

.stat-card {
    margin-top: 10px;
    height: 80px;
    box-shadow: 0px -2px 5px 0px rgba(145,145,145,1);
    border-radius: 20px;
}

.stat-card:hover .image {
    transform: scale(1.1);
  }

.stat-card:hover .card-text {
    text-shadow: 0 0 4px #eee;
  }

.card-title {
    margin-top: 5px;
    font-size:17px;
    color: #fff;
}   

.card-text {
    font-size: 22px;
    color: #fff;
}

.image {
    width: 80px;
    height: 80px;
    transform: scale(1);
    transition: .2s ease;
}