#pm25 {
    background-color:  rgb(129, 31, 119);
}

#pm10 {
    background-color: rgb(24, 117, 68);
}

#temp {
    background-color: rgb(158, 46, 34);
}

#hum {
    background-color: rgb(54, 95, 161);
}

.stat-card {
    margin-top: 10px;
    height: 80px;
    border-radius: 25px;
}

.stat-card:hover .image {
    transform: scale(1.1);
  }

.stat-card:hover .card-text {
    text-shadow: 0 0 4px #eee;
  }

.card-title {
    margin-top: 5px;
    font-size:17px;
    color: #fff;
}   

.card-text {
    font-size: 22px;
    color: #fff;
}

.image {
    margin-top: 3px;
    width: 75px;
    height: 75px;
    transform: scale(1);
    transition: .2s ease;
}

@media screen and (min-width: 992px) and (max-width: 1240px) {

    .image {
        width: 41px;
        height: 41px;
    }

    .card-title {
        font-size:14px;
    }   

    .card-text {
        font-size: 18px;
    }

}

@media screen and (min-width: 576px) and (max-width: 991px) {

    .image {
        height: 70px;
        width: 70px;
    }

}