.not-found{
    text-align: center;
    margin-top: 3rem;
    width: 100px;
}

.error-message{
    margin-top: 1.5rem;
    color: rgb(102, 90, 90);
}

@media screen and (max-width: 601px) {
    .logo {
        width: 18rem;
    }
}